@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
	box-sizing: border-box;
}

html {
	font-family: "Open Sans", sans-serif;
}

body {
	margin: 0;
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(
		150deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(77, 77, 77, 1) 100%
	);
	background: -webkit-linear-gradient(
		150deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(77, 77, 77, 1) 100%
	);
	background: linear-gradient(
		150deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(77, 77, 77, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#4d4d4d",GradientType=1);
	overflow-y: none;
	min-height: 100vh;
}

.slide-in-left-enter {
	transform: translateX(-100%);
}

.slide-in-left-enter-active {
	transform: translateX(0);
	opacity: 1;
	transition: all 200ms;
}

.slide-in-left-exit {
	transform: translateX(0%);
	opacity: 1;
}

.slide-in-left-exit-active {
	transform: translateX(-100%);
	opacity: 0;
	transition: all 200ms;
}

.center {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
textarea {
	resize: none;
}
