.place-form {
	list-style: none;
	margin: 0 auto;
	padding: 1rem;
	width: 90%;
	max-width: 40rem;
	box-shadow: rgb(0, 0, 0) 0px 5px 8px 0px;
	border-radius: 6px;
	background: #292929;
	color: #fff;
	border-radius: 3rem;
	padding: 1rem 2rem;
}
